@font-face {
    font-family: "Fixel";
    src: url('/fonts/FixelVariable.ttf') format('truetype');
}

body{
    font-family: "Fixel";
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 400;
}